html,
body {
  font-family: 'VT323', monospace;
  background-color: black;
  color: rgb(217, 254, 255);
  padding: 0;
  margin: 0;
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
